/* Định dạng cho trang */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #4caf50;
  color: white;
  padding: 20px 0;
  text-align: center;
  margin-bottom: 30px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
}

section {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
}

h2 {
  margin-bottom: 20px;
  font-size: 26px; /* Tăng kích thước font chữ */
  color: #333;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  font-size: 18px; /* Tăng kích thước font chữ */
}

input,
select {
  width: 100%;
  padding: 12px; /* Tăng padding */
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px; /* Tăng kích thước font chữ */
}

button {
  width: 100%;
  padding: 12px; /* Tăng padding */
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px; /* Tăng kích thước font chữ */
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* Popup styles */
.popup {
  display: none;
  position: fixed;
  top: 100px; /* Điều chỉnh để popup xuất hiện dưới header */
  right: 20px;
  background-color: #2196f3; /* Màu khác với header */
  color: white;
  padding: 25px; /* Tăng padding */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  animation: slideIn 0.5s, fadeOut 0.5s 2.5s;
  max-width: 300px;
  word-wrap: break-word;
  font-size: 18px; /* Tăng kích thước font chữ */
}

.popup-error {
  background-color: #f44336;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#welcomeMessage {
  font-size: 18px; /* Tăng kích thước font chữ */
  color: white;
  margin-top: 10px;
}

#logoutButton {
  background-color: #3b2b2a;
  color: white;
  border: none;
  border-radius: 8px;
  width: 90px; /* Tăng kích thước nút */
  padding: 12px 20px; /* Tăng padding */
  cursor: pointer;
  font-size: 18px; /* Tăng kích thước font chữ */
  margin-top: 10px;
}

#logoutButton:hover {
  background-color: #7e6e6e;
}

#groupSizeContainer {
  display: none;
}
